/*------ FONTS ------*/
@import url('https://fonts.googleapis.com/css?family=Rubik:900');
@import url('https://fonts.googleapis.com/css?family=Mogra');
/*------ END FONTS ------*/

html {
	background: #86f9ec;
}

.whole-wrapper {
	position: relative;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.banner {
	width: 50%;
	margin-top: 40px;
	margin-left: 40px;
	padding-left: 20px;	
	background: rgba(232, 11, 11, 0.8);
	z-index: 0;
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
}


.banner h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 3em;
	margin-bottom: 0;
}

.banner h4 {
	font-family: 'Mogra', cursive;
	margin-top: 2px;
}

body {
	background: rgba(247, 163, 244, 0.5);
	position: fixed;
	width: 1100px;
	margin: 40px 40px;

}

#about {
	max-width: 300px;
	margin-left: 600px;
	top: 50px;
	padding: 5px 7px;
	background: rgba(227, 244, 100, 0.8);
	position: fixed;
	z-index: 1;
}
